In [1]:
# Lab 8 â€“ Common Python Errors and Fixes Using map(), lambda, and Functions
# Author: Praveen Kumar G (22MID0300)
# Date: August 5, 2025
# Purpose: To understand and resolve common issues encountered when using Python's map() function,
#          lambda expressions, and user-defined functions. This lab focuses on how return values affect
#          the outcome of map(), the difference between print and return, and writing clean, functional code
#          that avoids pitfalls when mapping functions to sequences.

## 1. Lambda Functions

In [3]:
#Defines a function `double(x)` that returns twice the input value.

def double(x):
    return x * 2
# Example usage: test the function with a sample input
test_value = 3
result = double(test_value)
print(f"The double of {test_value} is {result}")

The double of 3 is 6

In [4]:
# Define the same doubling function using a double expression
def double(x: float) -> float:
    """Returns double the input value."""
    return x * 2

In [5]:
print(double(4))
print(double(2.5))

8
5.0

In [6]:
# Define the same doubling function using a lambda expression
double = lambda x: x * 2

print(double(6))  # Test the lambda function with input 6

12

In [7]:
# Define a function to add two numbers and return the sum
def add(a, b):
    return a + b

print(add(5, 3))  # Test the add function with inputs 5 and 3

8

In [8]:
# Define the same add function using a lambda expression
add = lambda a, b: a + b

print(add(5, 3))  # Test the lambda add function with inputs 5 and 3

8

In [9]:
# Define a function to return the maximum of two numbers
def maximum(a, b):
    if a > b:
        return a
    else:
        return b

print(maximum(8, 12))  # Test the maximum function with inputs 8 and 12

12

In [10]:
# Define the same maximum function using a lambda expression and ternary operator
maximum = lambda a, b: a if a > b else b

print(maximum(8, 12))  # Test the lambda maximum function with inputs 8 and 12

12

## 2. Iterables & Iterators

### Important Note: 
#### - **Iterables**: Objects like `list`, `tuple`, `str`, `dict`, `set` that can return an iterator using `iter()`.
#### - **Iterators**: Objects with `__next__()` method that return items one by one.
#### - **The difference**: All iterators are iterables, but not all iterables are iterators.

In [13]:
n = 45637453

# Integers are NOT iterable in Python
# The following for-loop will raise a TypeError because you cannot iterate over an int
for i in n:
    print(i)

TypeError: 'int' object is not iterable

In [24]:
n = 45637453

# Convert the integer to a string because strings are iterable (can be looped over)
for i in str(n):
    # 'i' is each character (digit) from the iterable string
    print(i)  # Output each digit individually

4
5
6
3
7
4
5
3

In [26]:
#Convert an integer to a list of its digits using string conversion and list comprehension.
num = 12345

# Convert the integer to string, then use list comprehension to extract digits
digits = [int(d) for d in str(num)]

print(digits)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [28]:
# Step 1: Define an integer
n = 45637453

# Step 2: Convert the integer to a string to make it iterable (strings are sequences of characters)
# Then use list comprehension to convert each character back to an integer digit
digits = [int(d) for d in str(n)]

# Step 3: Print the list of digits
print("List of digits:", digits)

# Step 4: Check the type of the digits variable
print("Type of digits:", type(digits))   # <class 'list'>

# Step 5: Iterate over the list 'digits' and explore each element
print("\nIterating over digits:")
for digit in digits:
    print("Digit:", digit, "| Type:", type(digit))  # Each should be <class 'int'>

List of digits: [4, 5, 6, 3, 7, 4, 5, 3]
Type of digits: <class 'list'>

Iterating over digits:
Digit: 4 | Type: <class 'int'>
Digit: 5 | Type: <class 'int'>
Digit: 6 | Type: <class 'int'>
Digit: 3 | Type: <class 'int'>
Digit: 7 | Type: <class 'int'>
Digit: 4 | Type: <class 'int'>
Digit: 5 | Type: <class 'int'>
Digit: 3 | Type: <class 'int'>

In [30]:
# Use dir() to list all attributes and methods available for the list object 'l'
l = [1, 2, 3, 4, 5]
# This shows built-in methods and special methods
print(dir(l))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## 3) __ _iter_ __() & __ _next_ __() functions

### **Purpose:**
#### These two special methods are used to create custom iterators in Python.

### **Definitions:**
#### __iter__()
####     This method returns the iterator object itself. It is called once when the iteration starts.

#### __next__()
####     This method returns the next value from the iterator.
####     When there are no more items to return, it raises a StopIteration exception to signal the end of the iteration.

In [36]:
# Method 1: Using __iter__() Directly
# This method manually calls the special __iter__() function on an iterable (like a list).

# It returns an iterator object, which can then be used to get values one by one.

# It's not commonly used in day-to-day practiceâ€”mostly helpful for understanding how iteration works under the hood.

# These special methods with double underscores (like __iter__) are called "dunder methods".

In [38]:
names = ["Ema", "Tom", "Hinton"]  # Create a list of names

looper = names.__iter__()  # Obtain an iterator object for the list using the __iter__() method

print(type(names))   # Print the type of the 'names' variable (which is <class 'list'>)
print(type(looper))  # Print the type of the 'looper' variable (which is <class 'list_iterator'>)

<class 'list'>
<class 'list_iterator'>

In [40]:
# Method 2: Using the Built-in iter() Function
# Instead of calling __iter__() directly (which looks a bit technical), Python gives us a cleaner way â€” the iter() function.

# It automatically calls the __iter__() method under the hood

# This is the standard and recommended way in Python to get an iterator

# Much more readable and Pythonic than using __iter__() directly

In [42]:
names = ['Ema', 'Tom', 'Hinton']

looper = iter(names)  # Creates an iterator from the 'names' list

print(next(looper))  # 'Ema' - First item
print(next(looper))  # 'Tom' - Second item
print(next(looper))  # 'Hinton' - Third item

print(next(looper))  # Raises StopIteration because there are no more items

Ema
Tom
Hinton

StopIteration:

In [44]:
# Manual Iteration Using iter() and next() with Exception Handling

In [46]:
looper = iter(names)  # We create an iterator from the 'names' list using the iter() function

while True: 
    try:
        name = next(looper)  # Try to get the next item from the iterator
        print(name)          
    except StopIteration:    # If no more items are left, a StopIteration error is raised
        break                # We catch that error and break out of the loop

Ema
Tom
Hinton

## 4) Map(), filter(), & reduce() functions

In [49]:
# These are powerful functional programming tools in Python used to process iterables in a clean and concise way:

# map(function, iterable): Applies a function to each item in the iterable.

# filter(function, iterable): Filters elements for which the function returns True.

# reduce(function, iterable): Repeatedly applies a function to the iterable and returns a single accumulated value. (Needs to be imported from functools.)

#### map()

In [52]:
# Using map() Function to Apply a Function to All Elements in a List
def square(x):
    # Function that returns the square of a number x
    return x * x

numbers = [1, 2, 3, 4, 5]  # List of numbers to be squared

# Use map() to apply the 'square' function to each item in 'numbers'
print(list(map(square, numbers)))

[1, 4, 9, 16, 25]

In [54]:
numbers = [1, 2, 3, 4, 5]  # List of numbers to be squared

# Use map() with a lambda function to square each item in 'numbers'
# The lambda function takes an argument x and returns x*x
# Convert the map object to a list so we can print all results

print(list(map(lambda x: x * x, numbers)))

[1, 4, 9, 16, 25]

In [56]:
def l_case(n):
    # Function that converts a string to lowercase
    return n.lower()

name = ["PRAVEEN", "Gaurav", "Raja"]  # List of names with mixed case letters

# Use map() to apply the l_case function to each string in the name list
# map() returns an iterator, so we convert it to a list to print all results
print(list(map(l_case, name)))

['praveen', 'gaurav', 'raja']

#### reduce()

In [59]:
from functools import reduce  # Import reduce function from functools module

n = [1, 2, 3, 4,5]  

# Use reduce() to apply the lambda function cumulatively to the items of the list
# The lambda takes two arguments x and y, and returns their sum x + y
# reduce() applies this function cumulatively from left to right, summing all numbers

print(reduce(lambda x, y: x + y, n))  # Output: 10

15

In [61]:
p = ["Practice", "makes", "perfect"]  # List of words in a proverb

from functools import reduce  

# Join the words into a single string with spaces
# The lambda adds a space between two words each time

print(reduce(lambda x, y: x + " " + y, p))

Practice makes perfect

#### filter()

In [64]:
def is_even(x):
    # Returns True if x is even
    return x % 2 == 0

numbers = [1, 2, 3, 4, 5, 6] 

# Use filter() to keep only even numbers
# Convert the result to a list to display it

print(list(filter(is_even, numbers)))

[2, 4, 6]

### Possible Errors & Exceptions in map(), filter(), reduce(), and Iterators

#### 1. TypeError: 'int' object is not iterable

In [68]:
map(lambda x: x + 1, 10)  #  10 is not iterable
#Cause: Trying to use map() or filter() on a non-iterable like an integer.

TypeError: 'int' object is not iterable

In [70]:
#Fix: Use an iterable like a list.

map(lambda x: x + 1, [10])

#### 2. NameError: name 'reduce' is not defined

In [73]:
# Cause: Forgetting to import reduce from the functools module.

from functools import reduce

#### 3. TypeError: <lambda>() missing 1 required positional argument

In [76]:
# Cause: Lambda function expecting two arguments, but only one provided in reduce().

reduce(lambda x: x + y, [1, 2, 3])  #  y is undefined

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [78]:
# Fix:
reduce(lambda x, y: x + y, [1, 2, 3])

6

#### 4. StopIteration

In [81]:
# Cause: Calling next() on an exhausted iterator.

it = iter([1])
print(next(it))  #  1
print(next(it))  #  Raises StopIteration

1

StopIteration:

In [83]:
# Fix: Use a loop or handle with try-except:

try:
    print(next(it))
except StopIteration:
    print("End of iterator")

End of iterator

#### 5. TypeError: 'NoneType' object is not iterable

In [86]:
# Cause: Accidentally using a function that returns None in map() or filter().
def no_return(x):
    print(x)  # Prints but returns None

list(map(no_return, [1, 2, 3]))

1
2
3

[None, None, None]

In [88]:
# Fix: Make sure the function returns a value.

def with_return(x):
    return x * 2  # Example: double the value

result = list(map(with_return, [1, 2, 3]))  # Output: [2, 4, 6]

print(result)

[2, 4, 6]

#### 6. TypeError: 'function' object is not iterable

In [91]:
# Cause: Passing a function itself instead of calling it.

map(lambda x: x * x, sum)  # 'sum' is a function

TypeError: 'builtin_function_or_method' object is not iterable

In [93]:
# Fix:

map(lambda x: x * x, [1, 2, 3])